.profile {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 5px;
    
    width: 157px;
    height: 117.5px;
    left: 102px;
    top: 73px;
}
.edit-profile {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 16px;
    
    width: 157px;
    height: 117.5px;
    left: 102px;
    top: 73px;
}
.subtitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 10px;
    width: 200px;
    height: 55px;

}

.follow {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 12px;
    height: 16px;
}

.mui-btn {
    display: flex;
    flex-direction: column;
    align-items: flex-start;    
    gap: 8px;
    
    width: 124px;
    height: 36px;
}

.edit-btn {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    padding: 6px 16px;

    height: 36px;
}