.profile {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 16px;
    
    width: 157px;
    height: 219px;
    left: 102px;
    top: 73px;
}
.subtitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 16px;
    width: 200px;
    height: 55px;

}

.follow {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 12px;
    height: 16px;
}

.mui-btn {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-transform: none;
    gap: 8px;
    
    width: 105px;
    height: 36px;
}